* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 100px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.header {
  grid-column: 1/3;
  margin: 50px;
  font-size: 19px;
}
.header .name {
  margin-bottom: 30px;
  color: blue;
}
.header h1 {
  margin-bottom: 28px;
}
.button {
  grid-row: 2 / 3;
  position: relative;
  top: 270px;
}
.button a {
  text-decoration: none;
  color: black;
}
.header a {
  grid-row: 1/2;
}
.image1 {
  background-image: url(./resources/person_1@2x.png);
  grid-column: 3/4;
  background-color: #c1b6f8;
  background-position: bottom;
  background-repeat: no-repeat;
}
.image1 h3 {
  color: white;
  font-size: 23px;
  position: relative;
  top: 259px;
  left: 17px;
  font-weight: bold;
}

.image2 {
  grid-column: 4/5;
  background-image: url(./resources/person_2@2x.png);
  background-color: #edacd2;
  background-position: bottom;
  background-repeat: no-repeat;
}

.image2 h3 {
  color: white;
  font-size: 23px;
  position: relative;
  top: 259px;
  left: 17px;
  font-weight: bold;
}

.image3 {
  background-image: url(./resources/person_3@2x.png);
  grid-column: 2/3;
  background-color: #9dc4f8;
  background-position: bottom;
  background-repeat: no-repeat;
}

.image3 h3 {
  color: white;
  font-size: 23px;
  position: relative;
  top: 259px;
  left: 17px;
  font-weight: bold;
}

.image4 {
  background-image: url(./resources/person_4@2x.png);
  grid-column: 3/4;
  background-color: #f8d8b0;
  background-position: bottom;
  background-repeat: no-repeat;
}
.image4 h3 {
  color: white;
  font-size: 23px;
  position: relative;
  top: 259px;
  left: 17px;
  font-weight: bold;
}

.image5 {
  background-image: url(./resources/person_5@2x.png);
  grid-column: 4/5;
  background-color: #86e7d4;
  background-position: bottom;
  background-repeat: no-repeat;
}
.image5 h3 {
  color: white;
  font-size: 23px;
  position: relative;
  top: 259px;
  left: 17px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
  }
  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
}
