/*Q1:SOln:
.menu{
    display:flex;
    justify-content: space-between;
}

.logo{
    order: 1;
}

.links{
    order: 2;
}
.cta{
    order: 3;
}

@media screen and (max-width:600px) {
    .menu{
        justify-content: center;
        flex-direction: column;
    }
    .links{
        width: 100%;
        justify-content: center;
    }

    .logo{
        order: 1;
    }
    .links{
        order: 3;
    }
    .cta{
        order: 2;
    }
} */

/* que2: */
/* Desktop / Default Layout 
.dashboard {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template-columns: 25% 75%;
  grid-template-rows:auto 1fr auto ;
}

header {
    grid-column: 1/3;
  border: 1px solid black;
}
aside {
  grid-column: 1/2;
  border: 1px solid black;
}
main {
  grid-column: 2/3;
  border: 1px solid black;
}
footer {
 grid-column: 1/3;
  border: 1px solid black;
}

@media screen and (max-width:768px){
    .dashboard{
        grid-template-columns:1fr ;
        grid-template-rows: auto auto auto auto;
    }
    header{
        grid-column: 1;
        grid-row: 1;
    }
    aside{
        grid-column: 1;
        grid-row: 2;
    }
    main{
        grid-column: 1;
        grid-row: 3;
    }
    footer{
        grid-column: 1;
        grid-row: 4;
    }
}
*/

/* q3:soln
 using flex:
.banners{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.banners div{
   height: 300px;
    width: 300px;
    border: 1px solid black;
}
.a{
   align-self: flex-start;
}
.b{
    align-self:center ;
}

.c{
    align-self: flex-end;
}

 using grid: 

.banners {
  display: grid;
  height: 100vh;
  width: 100vw;
}
.banners div {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
.a {
  justify-self: start;
  align-self: start;
}
.b {
  justify-self: center; 
  align-self: center; 
}

.c {
  justify-self: end;
  align-self: end;
}
  justify-self: center; -> left 
  align-self: center; -> top 
 */

 .profile-card{
    width: 300px;
    position: relative;
    margin: 50px auto;
 }

 .profile-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 20px;
 }

 .profile-card p{
    position: absolute;
    top: 180px;
     width: 260px;
 }