.container {
    width: 90%;
  margin: 10px auto;
  border: 1px solid black;
}
.outer-div {
  width: 80%;
  margin: 80px auto;
  border: 1px solid black;
}
.inner-div {
  width: 80%;
  border: 1px solid black;
  margin: 80px auto;
}

