*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.box{
    height: 120px;
    width: 120px;
    border: 1px solid black;
}


.box1{
    background-color: red;
   position: static;
   left: 120px;
}
.box2{
    background-color: yellow;
    position: relative;
    left: 120px;
    z-index: 1;
}
.box3{
    background-color: bisque;
    position: absolute;
    left: 50px;
    z-index: -1;
}
.box4{
    background-color: aqua;
    position: fixed;
    right: 12px;
    bottom: 12px;
    
}
.box5{
    background-color: maroon;
    position: sticky;
    top: 0;
}

.box6{
    background-color: pink;
}


.col{
  display: flex;
  flex-direction: column;
  
}
