*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr; 
}

header{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    background-color: aqua;
}
header ul {
    display: flex;
    gap: 12px;
}
header ul li {
    list-style: none;
    font-size: 1.2rem;
}
.searchbar input{
    height: 30px;
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius:6px ;
    box-shadow: 0 0 2px black;
}
.btns button{
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
}
main{
    padding: 120px;
}

footer{
    padding: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.topic-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px;
}

.topic-box label{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.card img{
    position: relative;
    top: 0;
}
