* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.663);
  color: white;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  border-right: 1px solid white;
}

.navbar a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 1.2rem;
}

#settings {
  position: fixed;
  text-align: right;
  bottom: 20px;
  left: 20px;
  width: calc(20% - 40px);
}

.content {
  display: grid;
  grid-template-rows: 1fr 10fr 1.5fr;
}

.title {
  margin: 10px auto;
  font-weight: 900;
  font-size: 2em;

}

.suggestions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px;
  /* padding: auto 300px;  find out why this is not applied*/
}
.suggrestion {
  border: 1px solid white;
  height: 100px;
  width: 300px;
  display: grid;
  place-items: center;
  cursor: pointer;
  /* overflow: auto; */
}
.suggrestion:hover{
    background-color: rgba(0, 0, 0, 0.262);
}
.chat {
  margin: 0 auto; /* center the button   */
}

.chat .text {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}
.chat .btn {
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/*psudeo clasees-> hover first child nth child   before after*/
