*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(155deg, #6190e8, #a7bfe8);
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #222222b9;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.input-box {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 50%;
  margin-top: 17px;
}

.input-box input {
  flex: 1;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  border-radius: 14px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 20px rgba(255, 140, 0, 0.3);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.input-box button {
  padding: 20px;
  width: 120px;
  border: none;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: #00c853;
  color: white;
  box-shadow: 0 4px 15px rgba(80, 218, 137, 0.254);
  transition: 0.2s ease-in-out;
}

.input-box input:focus {
  background-color: rgba(255, 255, 255, 0.734);
  box-shadow: 0 4px 30px rgba(255, 100, 0, 0.5);
  transform: scale(1.01);
}

.input-box button:hover {
  background: #00e676;
  transform: scale(1.09);
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    font-size: 21px;
    width: 60%;
}

.todo-item{
    border: 1px solid black;
    padding: 12px  ;
    border-radius: 21px;
}

.todo-item p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.todo-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
} 
.todo-buttons button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: normal;
}
.todo-buttons button:hover{
    cursor: pointer;
}

.todo-item {
  width: 100%;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.todo-item:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 22px rgba(255, 140, 0, 0.4);
  transform: scale(1.03);
  transition: 0.2s ease-in;
}








