* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* optional, just for contrast */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 60vw;
  padding: 40px;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 10%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 90%
  );
  border-radius: 25px;
}

section div {
  font-size: 21px;
  padding: 30px;
  margin: 10px;
  font-weight: bold;
  font-style: italic;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 15px;
}

.options button {
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px 10px violet;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.options button:last-child {
  align-self: flex-end;
  width: 30%;
}

.score {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 80vw;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
    height: 90vh;
    padding: 20px;
    font-size: 8px;
    font-weight: 100;
  }
}
