.dark {
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.light {
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

