* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  text-align: center;
}

div > div {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.linear div:nth-of-type(3){
    background: linear-gradient(to right, #e66465,#9198e5,blue);
}
.linear div:nth-of-type(1){
    background:linear-gradient( #e66465 80%,#9198e5 ,blue ); ;
}
.linear div:nth-of-type(2){
    background: linear-gradient(120deg,#e66465,#9198e5,blue);
}

.radial div:nth-of-type(1){
    background: radial-gradient(#6e76c5 30%,#e66465);
}

.radial div:nth-of-type(2){
    background: radial-gradient(closest-side,green,red,blue);
}
.radial div:nth-of-type(3){
    background: radial-gradient(farthest-side,green,red,blue);
}
.conic div:nth-of-type(1){
    background: conic-gradient(red, orange, yellow, green, blue);
}
.conic div:nth-of-type(2){
    background: conic-gradient(from 3.1416rad at 10% 50%,red , orange, yellow, green, blue);
}


